main{
    min-height: 80vh;
    
}
h3{
    padding:1rem 0;
}
.rating span{
    margin:0.1rem;

}

.img{
    width: 100ch;
}

.productImage{
    width: 100%;
    height: 200px;
}

h1{
    font-size: 1.8 rem;
    padding:1rem 0;
}

h2{
    font-size: 1.4 rem;
    padding:0.5rem 0;
}